<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--声明Student对象
    注入就是赋值的意思
    简单类型：spring规定java基本数据类型和字符串都是简单数据类型
    DI:给属性赋值
        1.set注入：spring调用set方法
             <bean id="myStudent" class="org.example.ba01.Student">
                <property name="属性名" value="属性值" />
            </bean>
            一个property只能给一个属性赋值

          spring只是执行了set方法，方法体里是否赋值是由开发者决定的
          有setEmail（）方法，虽然没有属性，只要有set方法就执行，只看set方法。不看属性

          即使是int也需要在value处加引号。这个规则是xml文件的规则

          类中一定要有set方法，根别的无关，有set就能用


        2.引用类型的set注入：spring调用set方法
             <bean id="myStudent" class="org.example.ba02.Student">
                <property name="属性名" ref="bean的id（对象名称）" />
            </bean>

    -->
    <bean id="myStudent" class="org.example.ba02.Student">
        <property name="name" value="李四" />
        <property name="age" value="28" />
        <!--引用类型的赋值-->
        <property name="school" ref="mySchool" /><!--此处调用setSchool 传入myschool-->
    </bean>

    <!--声明school对象-->
    <bean id="mySchool" class="org.example.ba02.School">
        <property name="name" value="北京大学" />
        <property name="address" value="北京海淀区" />
    </bean>
</beans>