<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--告诉spring创建对象
        声明bean：告诉spring要创建某个类的对象
        id：自定义名称，唯一值，spring通过这个名称找到对象
        class：类的全限定名称，不能是接口（spring是反射机制，必须使用类）

        spring就完成  someService someService=new SomeServiceImpl（）；
        把创建好的对象放到map中，spring中有个map存放对象
            springMap.put(id值，对象)
            例如：
                springMap.put(“someService”，new SomeServiceImpl（）)
        一个bean标签声明一个对象
    -->
    <bean id="someService" class="org.example.service.impl.SomeServiceImpl" />
    <bean id="someService2" class="org.example.service.impl.SomeServiceImpl" />

    <!--创建一个非自定义类的对象-->
    <bean id="mydate" class="java.util.Date" />
</beans>
<!--
spring的配置文件
    1.beans是根标签，spring中把java对象称为bean
    2.xsd：约束文件和mybatis中的dtd一样。控制和限制出现的标签和属性


-->